.bg-black.style-watch {
    .benefit-block {
        .benefit-item {
            i {
                color: var(--accent);
            }

            .heading6 {
                color: var(--white);
            }

            .text-secondary {
                color: var(--secondary2);
            }
        }
    }
}