.newsletter-block.bg-accent .text-white,
.newsletter-block.bg-transparent .text-white {
    color: var(--black);
}

.newsletter-block.bg-accent .button-main,
.newsletter-block.bg-transparent .button-main {
    background-color: var(--black);
    color: var(--white);
}